.maincontent{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 100%);
    div{
        display: flex;
        flex-direction: column;
        background-color: #ccc;
        width: 30%;
        height: 50%;
        justify-content: center;
        padding: 1.5rem;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        h1{
            font-size: 2rem;
            font-weight: 600;
            color: #333;
            margin-bottom: 1rem;
        }
        input{
            width: 100%;
            height: 3rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        input:focus{
            outline: none;
        }
        span{
            font-size: 1rem;
            color: #333;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        button{
            width: 100%;
            height: 3rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            border:none;
        }
        button:hover{
            background-color: #fff;
            color: #333;
        }
        button:onFocus{
            border: none;
        }
    }
}

@media screen and (max-width: 768px){
    .maincontent{
        div{
            width: 80%;
            height: 50%;
        }
    }
}
    