
.scrollcontent{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:8%;
    left: 18%;
    height: 100%;
    width: 80%;
    overflow: auto;
    padding-top: 2%;
    overflow-x: hidden;
    padding-left: 2%;
    padding-right: 2%;
    background-color: aliceblue;
    .innerbat{
        // border: 1px solid black;
        padding:0px 35px 50px 35px;
        background-color: whitesmoke;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        position: relative;
        
    }
    .inner1{
        display: flex;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 20px;
            margin-top: 50px;
        }
    }
    .inner2{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 5px;
        .username{
            font-size: 30px;
            font-weight: 600;
            width: 25%;
            padding:3px 3px;
            border-radius: 50%;
            margin-bottom: 5px;
            // background-color: wheat;
        }
    }
    .progress {
        background: rgba(55, 181, 190, 0.1);
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 10px;
        width: 500px;
      }
      
      .progressvalue {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: blue;
        height: 10px;
        width: 0;
      }

      .inner3{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        span{
            font-size: 20px;
            font-weight: 600;
            margin-right: 30px;
            padding: 5px 5px;
            border-radius: 10%;
        }
      }
      
      @keyframes load {
        0% { width: 0; }
        100% { width: 33%; }
      }

      .spbutton{
        position: absolute;
        top:5%;
        right: 3%;
        img{
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
      }

      .innerbat1{
        // border: 1px solid black;
        padding:0px 35px 25px 35px;
        background-color: whitesmoke;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;
        .gri{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 5px;
            // padding-top: 20px;
            // padding-bottom: 20px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 20px;
                margin-top: 50px;
            }
            span{
                font-size: 20px;
                font-weight: 600;
                border-radius: 10%;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                border-radius: 10%;
            }
        }
      }
}
.modalbutton{
  background-color: #37b5be;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  &:hover{
      background-color: #2c9da7;
  }

}

.buttons{
  margin-top: 3%;
  button{
      background-color: #37b5be;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 10px 10px;
      margin-bottom: 10px;
      cursor: pointer;
      margin-right: 10px;
      &:hover{
          background-color: #2c9da7;
      }
  }
}


.modalcontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  input{
      outline: none;
      border-radius: 20px;
      width: 85%;
      height: 50px;
      border: 1px solid #37b5be;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: larger;
      font-weight: 500;
  }
  
  span{
      font-size: larger;
      font-weight: 500;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 10px;
      border:1px solid #37b5be;
      border-radius: 10px;
      padding: 3px 3px;
  }
}

.grids{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  span{
      font-size: larger;
      font-weight: 500;
      border:1px solid #37b5be;
      border-radius: 10px;
      padding: 5px 5px;
  }
}

.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input{
      outline: none;
      border-radius: 20px;
      width: 85%;
      height: 50px;
      border: 1px solid #37b5be;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: larger;
      font-weight: 500;
  }
  button{
      background-color: #37b5be;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 10px;
      margin-bottom: 10px;
      cursor: pointer;
      margin-right: 10px;
      &:hover{
          background-color: #2c9da7;
      }
  }
  select{
      outline: none;
      border-radius: 20px;
      width: 88%;
      height: 50px;
      border: 1px solid #37b5be;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: larger;
      font-weight: 500;
  }
}

.jobs{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.outjob{
  display: flex;
  margin-top: 20px;
  img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
      margin-top: 10px;
  }
}

.tests{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  input{
      outline: none;
      border-radius: 20px;
      width: 85%;
      height: 50px;
      border: 1px solid #37b5be;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: larger;
      font-weight: 500;
  }
}

.test{
  display: flex;
  span{
    margin-right: 10px;
  }
}

.lengthbutton{
      background-color: #37b5be;
      color: white;
      width: 100%;
      border: none;
      border-radius: 15px;
      padding: 10px 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      margin-right: 10px;
      &:hover{
          background-color: #2c9da7;
      }

}
